<!--<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h4 class="my-0 mr-md-auto font-weight-normal">IoT DEVICE MANAGEMENT SYSTEM </h4>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/Sensor-list">View Sensors</a>
  </nav>
  <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/create-Sensor">Ad Sensor</a>
</div>-->
<app-head></app-head>
<app-dash></app-dash>
<div class="bigbox1">
  <div class="box1"> <tree-dynamic-example>loading</tree-dynamic-example></div>
  <div class="box2"><router-outlet></router-outlet></div>
  </div>


